/* Css global Reset */

:root {
  /* Color */
  --color-background: #171717;
  --color-surface-0: #232323;
  --color-accent: #00ffd9;
  --color-foreground: #e2e2e2;
  --color-gray: #9ca3af;

  /* Rounded */

  /* Breakpoint */
  --display-laptop: 992px;
  --display-tablet: 768px;

  /* typography */
  --text-3xl: 3.052rem;
  --text-2xl: 2.441rem;
  --text-xl: 1.953rem;
  --text-lg: 1.563rem;
  --text-md: 1.25rem;
  --text-base: 1rem;
  --text-sm: 0.8rem;

}

* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 4rem;
  font-size: 95%;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-sans {
  font-family: "Inter", sans-serif;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

a {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-foreground);
}

/* Global class */

.button {
  padding: 1em 2em;
  font-size: var(--text-md);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}
.button__primary {
  background-color: var(--color-accent);
  color: var(--color-background);
}
.button__primary:hover {
  background-color: var(--color-foreground);
}
a.button__primary:hover{
  color: var(--color-background);
}

.label {
    padding: 1px 4px;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
  }
  .label__primary {
    background-color: var(--color-accent);
  }

/* type-scale.com */

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1,
.text-3x-large {
  margin-top: 0;
  font-size: var(--text-3xl);
}

h2,
.text-2x-large {
  font-size: var(--text-2xl);
}

h3,
.text-xl,
.text-x-large {
  font-size: var(--text-xl);
}

h4,
.text-lg,
.text-large {
  font-size: var(--text-md);
}

h5,
.text-md,
.text-medium {
  font-size: var(--text-base);
}

p {
  font-size: 1rem;
}

small,
.text-sm,
.text-small {
  font-size: var(--text-sm);
}

/* Header */

header,
header nav,
header ul,
.header-inner {
  display: flex;
}

header {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 1.1em;
  position: fixed;
  background-color: var(--color-background);
  z-index: 700;
}

.header-inner {
  width: var(--display-tablet);
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.logo__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  font-family: "JetBrains Mono", monospace;
}

header nav {
  justify-content: space-between;
}

header ul {
  text-decoration: none;
  list-style: none;
  gap: 1.5em;
  padding: 0;
}

header a {
  text-decoration: none;
  color: var(--color-foreground);
}

header a:hover {
  color: var(--color-accent);
}

/* Main */

main {
  padding: 0 1.5rem;
  max-width: var(--display-tablet);
  margin: auto;
}

/* sections */

/* 1. Hero Section */

.section-hero {
  border: solid 2px var(--color-accent);
  border-radius: 1rem;
  padding: 3em 6rem;
}



.section-hero__outer {
  padding-top: 20vh;
}

.section-hero__inner {
  max-width: 480px;
}

.section-hero h1,
.section-hero h2,
.section-hero h3,
.section-hero .greet {
  margin: 0;
  font-weight: bold;
}

.section-hero .description {
  max-width: 22rem;
}

.section-hero .subtitle {
  font-weight: bold;
  color: var(--color-gray);
}

.section-hero__small-bar {
  background-color: var(--color-accent);
  padding: 1em 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: solid 10px var(--color-background);
  border-radius: 20px;
  position: absolute;
  top: -2.4em;
  color: var(--color-background);
  font-weight: bold;
}

.section-hero__small-bar__wrapper {
  display: flex;
  justify-content: center;
  height: fit-content;
  position: relative;
}

/* 2. Project Section */

.project-section__outer {
  margin-top: 6rem;
  padding: 0em 2rem;
}

.project-section {
  background-color: var(--color-accent);
  color: var(--color-background);
  padding: 0em 1rem;
  border-radius: 1rem;
}
.project-section * {
  margin: 0;
  list-style: none;
}

.project-section ul {
  padding: 0;
}

.project-section .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
}

.project-section .header a {
  color: var(--color-background);
  display: inherit;
  font-weight: bold;
}
.project-section .header .title {
  font-weight: bold;
  margin: 0;
}

.project-section .item-list {
  gap:1em;
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  overflow: hidden;
}

.project-section .item-card {
  background-color: var(--color-surface-0);
  color: var(--color-foreground);
  padding: 1em 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 12em;
  justify-content: space-between;
  overflow: hidden;
}

.item-card p {
  font-size: 0.8em;
}

.item-card__title {
  font-weight: bold;
}

.item-card__description {
  padding: 0.5em 0;
}

.project-section .link-list {
  display: flex;
  gap: 1em;
}

.project-section .link-list a {
  color: var(--color-gray);
}
.project-section .link-list a:hover {
  color: var(--color-accent);
}

/* Contact Section */
.section-contact__outer {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-contact {
  width: 100%;
  align-items: center;
  padding: 0 2em;
}

.section-contact h2 {
  margin: 0;
}
/* aside */

aside {
  width: calc(var(--display-tablet) + 8rem);
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  pointer-events: none;
}

.aside-icon__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 2rem;
}

.aside-icon__icon {
  color: var(--color-gray);
  font-size: var(--text-lg);
  pointer-events: auto;
  padding: 1rem;
  transition: color 150ms ease-in-out;
}
.aside-icon__icon:first-child {
  color: var(--color-foreground);
}



/* Footer */

footer {
  display:  flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 720px) {
  html {
    font-size: 85%;
  }
  .section-hero {
    padding: 2em 3rem;
  }
  .project-section .item-list {
    grid-template-columns: 1fr;
  }
  .project-section .item-card {
    min-height: 7em;
  }
  .project-section__outer {
    padding: 0;
  }
  .section-hero__small-bar {
    overflow: hidden;
  }
  aside {
    position: relative;
    width: 100%;
    justify-content: center;
    margin: 0;
  }
  .aside-icon__wrapper {
    padding: 0;
    position: relative;
    justify-content: center;
    flex-direction: row;
  }
}